body {
    background: linear-gradient(180deg, #ffe6cd 0%, #ffb25a 100%);
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
  text-align: center;
  letter-spacing: 1px;
}

.container {
    background-color: white;
    width:500px;
    margin: 3.2rem auto;
    padding: 20px 10px;
    border-radius: 50px;
}

.inner-wrapper {
    display: inline-block;
}

/* 計時器 */
.focus-timer, .done-list  {
    font-size: 32px;
    font-weight: 700;
}

.timer{
    font-size: 100px;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

/* 項目輸入與按鈕 */
#input-focus-item{
  border-radius: 20px;
  background: #EEEFF0;
  display: flex;
  justify-content: space-between;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  height: 2.2rem;
}

#input-focus-item input {
  background-color: transparent;
  border: 0px;
  outline: none;
  margin-left: 20px;
}

#button-start {
  background-color: #f8733e;
  border: 0px;
  color: white;
  font-family: "Anta", sans-serif;
  border-radius: 20px;
  cursor: pointer;
  height: 2.2rem;
  width: 3.2rem;
  letter-spacing: 0.5px;
}

#button-stop {
  
  height:2.2rem;
  width:13.5rem;
  border-radius: 20px;
  margin-bottom: 2rem;
  background-color: #f8733e;
  border: 0px;
  color: white;
  cursor: pointer;
  letter-spacing: 0.5px;
}

/* table */
table{
  border-collapse:collapse;
  overflow:hidden;
  border-radius:5px 10px 0px 0px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 2.4rem;
}

th{
  
  background-color:#ffbe96;
  color:#ffffff;
  height:2.5rem;
  width:8rem;
  text-align:center;
}

td{
  background-color:#ffffff;
  height:3.2rem;
  text-align:center;
}


tr:nth-of-type(even) td{
  background-color:#f3f3f3;
}

th:last-child {
    width:6rem;
}

/* 刪除按鈕 */
.deletebutton{
  width: 3rem;
  height: 2rem;
  background-color: #f8733e;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  letter-spacing:1px;
}


/* 按鈕動態 */
button:hover,#button-start:hover ,#button-stop:hover {
    background-color: #ff9029;
    color: #ffffff;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);
}


button:active,#button-start:hover ,#button-stop:hover {
    background-color: #ff9029;
}

